<% layout("/layouts/boilerplate") %>

    <br>
    <div class="row">
        <div class="col-8 offset-2">
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" enctype="multipart/form-data"
                class="needs-validation" novalidate>
                <h1>Edit Listing</h1>

                <div>
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" type="text" value="<%= listing.title %>"
                        placeholder="Enter listing Title" class="form-control" required>
                    <div class="valid-feedback">Title looks good</div>
                    <div class="invalid-feedback">Enter valid Title</div>
                </div>

                <div>
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="Enter listing description" class="form-control"
                        required><%= listing.description %></textarea>
                    <div class="invalid-feedback">Enter short Description</div>
                </div>

                <div>
                    <label for="image" class="form-label">Upload New Image</label>
                    <input name="listing[image]" type="file" class="form-control">
                    <% if (listing.image?.url) { %>
                        <div class="mt-2">
                            <p class="text-muted">Current Image:</p>
                            <img src="<%= listing.image.url %>" alt="Current Image"
                                style="width: 200px; border-radius: 8px;">
                        </div>
                        <% } %>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" type="number" value="<%= listing.price %>"
                            placeholder="Enter listing price" class="form-control" required>
                        <div class="invalid-feedback">Enter valid Price</div>
                    </div>
                    <div class="col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" value="<%= listing.country %>"
                            placeholder="Enter listing country" class="form-control" required>
                        <div class="invalid-feedback">Enter valid Country</div>
                    </div>
                </div>

                <div>
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" value="<%= listing.location %>" placeholder="Enter listing location"
                        class="form-control" required>
                    <div class="invalid-feedback">Enter valid Location</div>
                </div>

                <br>
                <button type="submit" class="btn btn-dark add-btn">Update Listing</button>
                <br><br>
            </form>
        </div>
    </div>