<% layout('layouts/boilerplate') -%>
<body>
    <h3>All Listings</h3>

    <form method="get" action="/listings/new">
        <!-- <button type="submit">Create New Listing</button> -->
    </form>

    <% for (let listing of allListings) { %>
        <div>
            <ul>
                <li><strong>Title:</strong> <%= listing.title %></li>
                <li><strong>Description:</strong> <%= listing.description %></li>
                <li>
                    <strong>Link:</strong> 
                    <a href="/listings/<%= listing._id %>"><%= listing.title %></a>
                </li>
                <li><strong>Location:</strong> <%= listing.location %></li>
                <li><strong>Price:</strong> ₹<%= listing.price.toLocaleString("en-IN") %></li>
                <li><strong>Country:</strong> <%= listing.country %></li>
            </ul>
        </div>
        <hr>
    <% } %>
</body>
