<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Your listing is</h1>
    <li><%= item.title %></li>
    <li><%= item.description %></li>
    <li> &#8377; <%=item.price.toLocaleString("en-IN")%></li>
    <li><%= item.image.url %></li>
    <li><%= item.country %></li>
</body>
</html>